{{#>
	layouts/ajax
	title="Titulos"
	pagename="form_basic_inputs"
	heading="<i class='subheader-icon fal fa-edit'></i>  Detalhes do T&iacutetulo"
	category_1="Contas a receber"
	pagedescription=""
}}
{{#*inline "content-block"}}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Detalhes do t&iacutetulo
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab_default-1" role="tab"><i class="fal fa-home mr-1"></i> Geral</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_default-2" role="tab"><i class="fal fa-home mr-1"></i> Centro de Custo</a></li>
                    </ul>

                    <div class="tab-content border border-top-0 p-3">
                        <div class="tab-pane fade show active" id="tab_default-1" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="form-label">Empresa</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">Dt. Emiss&atildeo</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">Dt. Vencimento</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">N&uacutemero</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">S&eacuterie</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">Letra</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">Valor a Receber</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">Cod. Cliente</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-9">
                                    <div class="form-group">
                                        <label class="form-label">Nome Cliente</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label class="form-label">Cod. Forma Pagamento</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="form-group">
                                        <label class="form-label">Forma Pagamento</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label">Dig.</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label class="form-label">Observa&ccedil&atildeo</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label class="form-label">Linha Digit&aacutevel</label>
                                        <input class="form-control" value="" disabled="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_default-2" role="tabpanel">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label class="form-label">Cod. Centro de Custo</label>
                                            <input class="form-control" value="" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <div class="form-group">
                                            <label class="form-label">Descri&ccedil&atildeo Centro de Custo</label>
                                            <input class="form-control" value="" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="form-label">Valor</label>
                                                <input class="form-control" value="" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-xl-12">
                                        <table class="table table-bordered table-hover table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th>Classifica&ccedil&atildeo</th>
                                                    <th>Descri&ccedil&atildeo</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-xl-12">
                                        <table width="100%">
                                            <tr>
                                                <td width="80%"><h2><b>Total: XXX,XX</b></h2></td>
                                                <td width="10%"><button class="btn btn-primary btn-block">Incluir</button></td>
                                                <td width="10%"><button class="btn btn-primary btn-block">Excluir</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/inline}}
{{#*inline "scripts-block"}}
<script type="text/javascript">
    var example_gridsize = $("#example-gridsize");

    $("#gridrange").on("input change", function () {
        //do something
        example_gridsize.attr("placeholder", ".col-" + $(this).val());
        example_gridsize.parent().removeClass().addClass("col-" + $(this).val())
        console.log("col-" + $(this).val());
    });
</script>
{{/inline}}

{{/layouts/ajax}}